<div class="post-preview">
  <a href="{{ .RelPermalink }}">
      <h2 class="post-title">{{ .Title }}</h2>
      {{ with .Params.subtitle }}
      <h3 class="post-subtitle">{{ . }}</h3>
      {{ end }}
      <div class="post-content-preview">
        {{ if isset .Params "description" }} {{ index .Params "description" }}
        {{ else }}
        {{ .Summary | plainify | truncate 280 }}
        {{ end }} 
      </div>
  </a>
  <p class="post-meta">
    {{ if .Params.showthedate }}
    Posted by {{ with $.Params.author }} {{ $.Params.author }} {{ else }} {{ .Site.Params.author }} {{ end }} - {{ .Date.Format "January 2006" }}
    {{ end }}
  </p>
</div>
<hr>